:root {
    --header-background-color: linear-gradient(30deg, #002147, #1d5d99);
}

.background-header {
    background: var(--header-background-color);
}

.nav-link {
    color: rgb(255, 255, 255);
}
.card{
    display: flex;
    justify-content: center;
    width: 10%;
    

}
.card-image{
    width: 82px;
    height: 72px;
    display: flex;

}

.cards{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.division-bar{
    height: 2px;
    width: 200px;
    margin: 0 auto;
}

.services{
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}